<h4>Clientes</h4>

<%= form_tag clients_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-info' %>
    </p>
<% end %>

<table class="table table-striped" style="background: gainsboro; line-height: 28px;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Domicilio</th>
      <th>Teléfono</th>
      <th>RFC</th>
      <th>C.P.</th>
    </tr>
  </thead>
  <tbody>

    <%= render :partial => 'shared/clients_table' %>

  </tbody>
</table>

<%= link_to 'Agregar Nuevo Cliente', new_client_path,
            :class => 'btn btn-success btn-primary' %>
