<h4>Clientes</h4>
<table class="table table-striped" style="background: gainsboro; line-height: 28px;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Domicilio</th>
      <th>Teléfono</th>
      <th>RFC</th>
      <th>C.P.</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.id %></td>
        <td><%= link_to client.name, client_path(client)  %></td>
        <td><%= client.address %></td>
        <td><%= client.phone %></td>
        <td><%= client.rfc %></td>
        <td><%= client.zip_code %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nuevo', new_client_path,
            :class => 'btn btn-primary' %>
