<div class="dl-horizontal">
  <h4>Cliente</h4>
</div>
<dl class="dl-horizontal">
  <dt><strong>Nombre:</strong></dt>
  <dd><%= @client.name %></dd>
  <dt><strong>Domicilio:</strong></dt>
  <dd><%= @client.address %></dd>
  <dt><strong>Teléfono:</strong></dt>
  <dd><%= @client.phone %></dd>
  <dt><strong>RFC:</strong></dt>
  <dd><%= @client.rfc %></dd>
  <dt><strong>C.P.:</strong></dt>
  <dd><%= @client.zip_code %></dd>
</dl>

<div class="form-actions" style="background: inherit">
  <%= link_to 'Pedido', new_client_order_path(@client.id), :class => 'btn  btn-success'%>
  <%= link_to 'Regresar',
              clients_path, :class => 'btn'  %>
  <%= link_to 'Editar',
              edit_client_path(@client), :class => 'btn btn-primary' %>

</div>
