<div class="brand">
  <h4><%= "Venta # #{ @order.id }" %></h4>
</div>



<table class="table table-striped order-items">
  <col class="qty-column">
  <col class="name-column">
  <col class="price-column">

  <thead>
  <tr>
    <th><%= 'Cant.' %></th>
    <th><%= 'Producto' %></th>
    <th><%= 'Precio' %></th>
    <th><%=	'Subtotal' %></th>
  </tr>
  </thead>
  <tbody>


  <tr class="td-numeric">

  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Total</td>
    <td class="td-numeric"><%= @order.total %></td>
  </tr>
  </tbody>
</table>

