<%- model_class = Order -%>
  <h3>Pedido <%= @order.id %></h3>

<dl class="dl-horizontal">
  <dt><strong> Cliente :</strong></dt>
  <dd><%= @client.name %></dd>
  <dt><strong> Domicilio :</strong></dt>
  <dd><%= @client.address %></dd>
  <dt><strong> C.P. : </strong></dt>
  <dd><%= @client.zip_code %></dd>
  <dt><strong> Teléfono :</strong></dt>
  <dd><%= @client.phone %></dd>
  <dt><strong> RFC :</strong></dt>
  <dd><%= @client.rfc %></dd>
</dl>
<table class="table table-striped order-items" style="background: gainsboro; line-height: 28px;">
  <col class="qty-column">
  <col class="name-column">
  <col class="price-column">
  <col class="price-column">
  <thead>
  <tr>
    <th><%= 'Cant.' %></th>
    <th><%= 'Producto' %></th>
    <th><%= 'Precio' %></th>
    <th><%=	'Subtotal' %></th>
    <% if @order.close_at.nil? %>
        <th><%= 'Eliminar'%></th>
    <% end %>
  </tr>
  </thead>
  <tbody id="order_data">
    <%= render :partial => 'shared/order_data' %>
  </tbody>
</table>

<div id="order_buttons" class="form-actions">
    <%= render :partial => 'orders/order_buttons' %>
</div>
