<%- model_class = Order -%>
  <h3>Pedido <%= @order.id %></h3>

<dl class="dl-horizontal">
  <dt><strong> Cliente :</strong></dt>
  <dd><%= @client.name %></dd>
  <dt><strong> Domicilio :</strong></dt>
  <dd><%= @client.address %></dd>
  <dt><strong> C.P. : </strong></dt>
  <dd><%= @client.zip_code %></dd>
  <dt><strong> Teléfono :</strong></dt>
  <dd><%= @client.phone %></dd>
  <dt><strong> RFC :</strong></dt>
  <dd><%= @client.rfc %></dd>
</dl>
<table class="table table-striped order-items" style="background: gainsboro; line-height: 28px;">
  <col class="qty-column">
  <col class="name-column">
  <col class="price-column">

  <thead>
  <tr>
    <th><%= 'Cant.' %></th>
    <th><%= 'Producto' %></th>
    <th><%= 'Precio' %></th>
    <th><%=	'Subtotal' %></th>
    <th><%= 'Eliminar'%></th>
  </tr>
  </thead>
  <tbody>
  <% @order_items.each do |order_item| %>
      <tr>
        <td class="td-numeric"><%= order_item.quantity %></td>
        <td><%= order_item.product.name %></td>
        <td class="td-numeric"><%= order_item.price %></td>
        <td class="td-numeric"><%= order_item.price * order_item.quantity %></td>
        <td><%= link_to 'Quitar', order_item_path(order_item, params[order_item.order_id]),
                        :method => 'delete',
                        :class => 'btn btn-danger' %></td>
      </tr>
  <% end %>

  <tr>
    <% if @order.close_at.nil? %>
        <%= form_for @order_item, :url => add_order_item_path do |f| %>
            <%= f.hidden_field :product_id, :class => 'text_field', :id => 'product_id' %>
            <%= hidden_field_tag 'order_id', @order.id %>
            <td class="td-numeric">
                <%= f.text_field :quantity, :class => 'text_field prod-qty' %>
            </td>
            <td>
                <%= text_field_tag 'product_name', nil, :class => 'text_field prod-name' %>
                <%= f.submit '+', :class => 'btn-small btn-primary btn-success prod-submit' %>
            </td>
            <td></td>
            <td></td>
        <% end %>
    <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
            <%= "Descuento:" %>
        </td>
        <td><%= "#{@order.discount} %" %></td>
    <% end %>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Total</td>
    <td class="td-numeric"><%= @order.total %></td>
  </tr>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn'  %>
  <% if @order_items.present? && (@order.close_at.nil? && @order.discount == 0) %>
      <%= link_to 'Cerrar Cuenta',
                  checkout_order_path(@order.id),
                  :data => { :confirm => 'Seguro que quiere cerrar la cuenta?' },
                  :class => 'btn btn-info'%>
  <% end %>
  <% if @order.close_at.nil?  %>
      <%= link_to t('Cancelar Cuenta'),
              cancel_order_path(@order.id),
              :data => { :confirm => "Seguro que desea cancelar la cuenta ?" },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
