<%- model_class = Order -%>
  <h3>Pedido <%= @order.id %></h3>

<dl class="dl-horizontal">
  <dt><strong> Cliente :</strong></dt>
  <dd><%= @client.name %></dd>
  <dt><strong> Domicilio :</strong></dt>
  <dd><%= @client.address %></dd>
  <dt><strong> C.P. : </strong></dt>
  <dd><%= @client.zip_code %></dd>
  <dt><strong> Teléfono :</strong></dt>
  <dd><%= @client.phone %></dd>
  <dt><strong> RFC :</strong></dt>
  <dd><%= @client.rfc %></dd>
</dl>
<table class="table table-striped order-items" style="background: gainsboro; line-height: 28px;">
  <col class="qty-column">
  <col class="name-column">
  <col class="price-column">
  <col class="price-column">
  <thead>
  <tr>
    <th><%= 'Cant.' %></th>
    <th><%= 'Producto' %></th>
    <th><%= 'Precio' %></th>
    <th><%=	'Subtotal' %></th>
    <% if @order.close_at.nil? %>
        <th><%= 'Eliminar'%></th>
    <% end %>
  </tr>
  </thead>
  <tbody id="order_data">
    <%= render :partial => 'shared/order_data' %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn'  %>
  <% if @order_items.present? && (@order.close_at.nil? && @order.discount == 0) %>
      <%= link_to 'Cerrar Cuenta',
                  checkout_order_path(@order.id),
                  :data => { :confirm => 'Seguro que quiere cerrar la cuenta?' },
                  :class => 'btn btn-info'%>
  <% end %>
  <% if @order.close_at.nil?  %>
      <%= link_to t('Cancelar Cuenta'),
              cancel_order_path(@order.id),
              :data => { :confirm => "Seguro que desea cancelar la cuenta ?" },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
