<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label :supplier_id %><br/>
    <%= f.hidden_field :supplier_id, :class => 'text_field', :id => 'supplier_id' %>
    <%= text_field_tag 'supplier_name', nil, :class => 'text_field' %>
  </div>
  <div>
    <%= f.label :inventory %><br />
    <%= f.text_field :inventory %>
  </div>

  <div>
    <%= f.label :unit_mesure %><br />
    <%= f.text_field :unit_mesure %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
