<h4>Proveedores</h4>
<table class="table table-striped" style="background: gainsboro; line-height: 28px;">
  <thead>
    <tr>
      <th>#</th>
      <th>Proveedor</th>
      <th>Domicilio</th>
      <th>Teléfono</th>
      <th>RFC</th>
      <th>C.P.</th>
      <th>Website</th>
      <th>Fecha Agregado</th>
    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= link_to supplier.id, supplier_path(supplier) %></td>
        <td><%= supplier.name %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.rfc %></td>
        <td><%= supplier.zip_code %></td>
        <td><%= supplier.website %></td>
        <td><%=l supplier.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Agregar Proveedor',new_supplier_path,
            :class => 'btn btn-success btn-primary' %>
